<% if @translation.errors.empty? %>
  <%= turbo_stream.replace "chapter_#{@chapter.id}", partial: 'admin/chapters/chapter', locals: { chapter: @chapter } %>
  <%= turbo_stream.remove 'modal' %>
<% else %>
  <%= turbo_stream.update "modal" do %>
    <div class="modal">
      <div class="modal-content">
        <h2 class="text-2xl font-bold mb-4">Edit Translation</h2>
        <%= render "form", translation: @translation %>
      </div>
    </div>
  <% end %>
<% end %>
<%= turbo_stream.append 'flash', partial: 'shared/flash', locals: { flash: flash } %>
