<%= turbo_frame_tag dom_id(book) do %>
  <div class="bg-white rounded-lg shadow p-6">
    <div class="mb-4">
      <h2 class="text-xl font-semibold">
        <% book.book_translations.each do |translation| %>
          <div>
            <%= translation.title %> (<%= translation.language %>)
          </div>
        <% end %>
      </h2>
      <p class="text-gray-600"><%= book.isbn %></p>
    </div>

    <div class="flex space-x-2">
      <%= link_to "View", admin_book_path(book), class: "btn-secondary", data: { turbo: false } %>
      <%= link_to "Edit", edit_admin_book_path(book), class: "btn-secondary", data: { turbo_frame: "modal" } %>
      <%= button_to "Delete", admin_book_path(book), method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>
<% end %>
