<%= turbo_stream_from "admin_book_#{@book.id}_translations" %>
<%= turbo_stream_from "admin_chapters" %>

<div class="container mx-auto px-4 py-8">
  <div id="page_content">
    <div class="bg-white rounded-lg shadow p-6">
      <div class="mb-6">
        <div class="flex justify-between items-center mb-6">
          <h1 class="text-2xl font-bold">Book Details</h1>
          <div class="flex space-x-2">
            <%= link_to "Edit", edit_admin_book_path(@book),
                class: "btn btn-ghost",
                data: { turbo_stream: true } %>
            <%= link_to "Back", admin_books_path, class: "btn btn-ghost", data: { turbo: false } %>
          </div>
        </div>

        <div class="mb-4">
          <strong>ISBN:</strong>
          <%= @book.isbn %>
        </div>

        <div class="mb-4">
          <strong>Selected Languages:</strong>
          <%=@book.selected_languages.join(", ") %>
        </div>

        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold">Translations</h2>
          <% available_languages = @book.selected_languages - @book.book_translations.pluck(:language) %>
          <% if available_languages.any? %>
            <div class="relative inline-block">
              <%= link_to "New Translation", new_admin_book_book_translation_path(@book),
                class: "btn btn-primary",
                data: { turbo_stream: true } %>
            </div>
          <% end %>
        </div>

        <% @book.book_translations.each do |translation| %>
          <%= turbo_frame_tag "admin_book_#{@book.id}_translations", class: "space-y-4" do %>
            <%= render "admin/book_translations/book_translation", book: @book, translation: translation %>
          <% end %>
        <% end %>


        <div class="mt-8">
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">Chapters</h2>
            <%= link_to "New Chapter", new_admin_book_chapter_path(@book),
                class: "btn btn-primary",
                data: { turbo_stream: true } %>
          </div>

          <%= turbo_frame_tag "admin_chapters" do %>
            <div class="space-y-4">
              <%= render @book.chapters %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
