<% if @book.errors.empty? %>
  <%= turbo_stream.remove "modal" %>
  <%= turbo_stream.replace "admin_book_#{@book.id}", @book %>
<% else %>
  <%= turbo_stream.update "modal" do %>
    <div class="modal">
      <div class="modal-content">
        <h2 class="text-2xl font-bold mb-4">Edit Book</h2>
        <%= render "form", book: @book %>
      </div>
    </div>
  <% end %>
<% end %>
<%= turbo_stream.prepend "flash", partial: "shared/flash" %>
