<div class="container mx-auto px-4 py-8">
  <div class="max-w-4xl mx-auto">
    <div class="mb-8">
      <%= link_to '← Назад до списку книг', books_path, class: "text-blue-600 hover:text-blue-800 transition-colors flex items-center" %>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
      <h1 class="text-5xl font-bold mb-2 text-gray-800">
        <%= @book.title %>
        <span class="text-lg font-normal text-gray-600">(<%= @book.language.upcase %>)</span>
      </h1>
      <p class="text-gray-700 mb-4"><%= @book.description %></p>

    <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
      <h2 class="text-2xl font-bold mb-4">Зміст</h2>
      <div class="space-y-2">
        <%= render @book.chapters %>
      </div>
    </div>

    <% if @book.translations.exists? || @book.original_book.present? %>
      <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
        <h3 class="text-lg font-semibold mb-2">Available in</h3>
        <% if @book.translations.exists? %>
          <% @book.translations.each do |translation| %>
            <%= link_to "(#{translation.language.upcase}) #{translation.title}", book_path(translation), class: "block text-blue-600 hover:text-blue-800 transition-colors" %>
          <% end %>
        <% end %>
        <% if @book.original_book.present? %>
          <%= link_to "(#{@book.original_book.language.upcase}) #{@book.original_book.title}", book_path(@book.original_book), class: "block text-blue-600 hover:text-blue-800 transition-colors" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
