<div class="container mx-auto px-4 py-8">
  <div class="max-w-4xl mx-auto">
    <div class="mb-8">
      <%= link_to book_path(@book), class: "text-blue-600 hover:text-blue-800 transition-colors flex items-center" do %>
        ← Назад до <%= @book.title %>
      <% end %>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
      <h1 class="text-2xl font-bold mb-4"><%= @chapter.position %>. <%= @chapter.title %></h1>


      <div class="mt-6">
        <article class="prose max-w-none">
          <%= @chapter.content.html_safe %>
        </article>
      </div>
    </div>

    <div class="flex justify-between items-center">
      <div>
        <% if @has_prev_chapter %>
          <%= link_to "Previous Chapter", book_chapter_path(@book, @chapter.position - 1) %>
        <% end %>
      </div>

      <div>
        <% if @has_next_chapter %>
          <%= link_to "Next Chapter", book_chapter_path(@book, @chapter.position + 1) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
