<%= turbo_frame_tag "admin_book_#{book.id}_translations_#{translation.id}" do %>
  <div class="bg-gray-50 rounded-lg p-4">
    <div class="flex justify-between items-center">
      <strong><%= translation.language.upcase %></strong>
      <div class="flex space-x-2">
        <%= link_to "Edit",
            edit_admin_book_book_translation_path(book, translation.id),
            class: "btn btn-ghost",
            data: { turbo_frame: "modal" } %>
        <%= button_to "Remove",
            admin_book_book_translation_path(book, translation.id),
            method: :delete,
            class: "btn btn-error",
            form: { data: { turbo_confirm: "Are you sure?" } } %>
        </div>
      </div>
    <div class="mt-2">
      <div class="mb-1"><span class="text-gray-600">Title:</span> <%= translation.title %></div>
    <div><span class="text-gray-600">Description:</span> <%= translation.description %></div>
  </div>
</div>
<% end %>
