<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow p-6">
    <div class="mb-6">
      <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold mb-4"><%= @chapter.position %> - <%= @chapter.title %></h1>

        <div class="flex space-x-2">
          <%= link_to "Edit", edit_admin_book_chapter_path(@book, @chapter.id),
              class: "btn btn-ghost",
              data: { turbo_stream: true } %>
          <%= link_to "Back to book", admin_book_path(@book), class: "btn btn-ghost", data: { turbo: false } %>
        </div>
      </div>

      <div class="bg-white rounded-lg shadow-lg p-6 mb-6">
        <div class="mt-6">
          <article class="prose max-w-none">
            <%= @chapter.content.html_safe %>
          </article>
        </div>
      </div>

      <div class="flex justify-between items-center mb-6">
        <div>
          <% if @prev_chapter %>
            <%= link_to admin_book_chapter_path(@book, @prev_chapter.id), class: "btn btn-ghost", data: { turbo: false } do %>
              ← Previous Chapter
            <% end %>
            <% if @chapter.position - @prev_chapter.position > 1 %>
              <p class="text-sm text-red-500 align-middle inline-block">Correct chapter missed</p>
            <% end %>
          <% end %>
        </div>

        <div>
          <% if @next_chapter %>
            <% if @next_chapter.position - @chapter.position > 1 %>
              <p class="text-sm text-red-500 align-middle inline-block">Correct chapter missed</p>
            <% end %>
            <%= link_to admin_book_chapter_path(@book, @next_chapter.id), class: "btn btn-ghost", data: { turbo: false } do %>
              Next Chapter →
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
